// COLOR VARIABLES

$clr-primary: #F6E66C;
$clr-secondary: #FEFAE1;

$ff-primary: "Roboto", sans-serif;
$ff-col-primary: #8E8E90;
$ff-col-secondary: #8D8D8F;

// Breakpoints

$bp-phone: 37.5em;
$bp-tab-port: 56.25em;
$bp-tab-land: 75em;
$bp-standard: 85.375em;
