.nav {
  text-transform: uppercase;

  @include respond(phone){
    display: none;
  }

  &__toggle {
    display: none;
    position: absolute;
    top: 2rem;
    right: 2rem;
    background-color: $clr-primary;
    border-radius: 50%;
    width: 5rem;
    height: 5rem;

    @include respond(phone) {
      display: initial;
    }
  }

  &__item {
    display: inline-block;

    &:not(:last-child) {
      margin-right: 4rem;
    }

    @media only screen and (min-width: $bp-standard) {
      &:last-child {
        position: relative;
        &:before {
          background-image: url("../images/mb-logo.png");
          background-size: 5rem 5rem;
          width: 5rem;
          height: 5rem;
          content: "";
          display: inline-block;
          position: absolute;
          bottom: 115%;
          left: 50%;
          transform: translateX(-50%);
        }
      }
    }
  }


  @media only screen and (min-width: $bp-standard) {

    margin-bottom: 5rem;

    @supports (display: flex) {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
  }

  &__link {
    position: relative;
    color: $ff-col-primary;
    text-decoration: none;
  }

  &__btn {
    position: absolute;
    right: 2rem;
    top: 2rem;
    background-color: $clr-primary;
    border-radius: 50%;
    width: 5.5rem;
    height: 5.5rem;
  }
}

.nav__link.active {
  &::after {
    position: absolute;
    bottom: -7px;
    left: 0;
    background-color: $clr-primary;
    content: '';
    display: inline-block;
    width: 100%;
    height: 3px;
  }
}

.sub {
  display: none;
  justify-content: center;
  align-items: center;
  background-color: $clr-primary;
  position: fixed;
  width: 100%;
  height: 100vh;
  z-index: 10;

  &__nav {
    list-style: none;

    &-item {

      &:not(:last-child) {
        margin-bottom: 2rem;
      }
    }

    &-link {
      color: #fff;
      font-size: 3rem;
      text-decoration: none;
      text-transform: uppercase;
    }
  }
}