body {
  font-family: $ff-primary;
  font-size: 1.6rem;
  font-weight: 400;
}

h1 {
  font-weight: 300;
}

p {
  @media only screen and (min-width: $bp-standard) {
    font-size: 1.8rem;
  }
}

a {
  font-size: 2rem;

  @include respondMax(43.75em) {
    font-size: 1.6rem;
  }

  @media only screen and (min-width: $bp-standard) {
    font-size: 1.2vw;
  }
}

.font {

  &--clr-white {
    color: #fff;
  }

  &--clr-primary {
    color: $clr-primary;
  }
}

.banner {
  h1 {
    text-transform: uppercase;
  }
}

.cta {
  &__header {
    &--large {
      font-size: 3em;
      font-weight: 400;
    }
  }

  &:nth-of-type(2) {
    h1 {
      text-transform: uppercase;
    }
  }
}
